<ng-container *ngIf="note">
  <zeppelin-notebook-action-bar [note]="note"
                                [revisionView]="revisionView"
                                [isOwner]="isOwner"
                                [(activatedExtension)]="activatedExtension"
                                [collaborativeMode]="collaborativeMode"
                                [collaborativeModeUsers]="collaborativeModeUsers"
                                [noteRevisions]="noteRevisions"
                                [currentRevision]="currentRevision"></zeppelin-notebook-action-bar>
  <div class="extension-area" [ngSwitch]="activatedExtension" *ngIf="activatedExtension!=='hide'">
    <zeppelin-notebook-interpreter-binding *ngSwitchCase="'interpreter'"></zeppelin-notebook-interpreter-binding>
    <zeppelin-notebook-permissions *ngSwitchCase="'permissions'"></zeppelin-notebook-permissions>
    <zeppelin-notebook-revisions-comparator *ngSwitchCase="'revisions'"></zeppelin-notebook-revisions-comparator>
  </div>
  <div class="paragraph-area">
    <div class="paragraph-inner" nz-row [nzGutter]="8">
      <zeppelin-notebook-paragraph nz-col
                                   [nzSpan]="p.config.colWidth * 2"
                                   *ngFor="let p of note.paragraphs;let first = first; let last = last;"
                                   [paragraph]="p"
                                   [note]="note"
                                   [interpreterBindings]="interpreterBindings"
                                   [collaborativeMode]="collaborativeMode"
                                   [viewOnly]="viewOnly"
                                   [revisionView]="revisionView"
                                   [first]="first"
                                   [last]="last"
                                   (saveNoteTimer)="startSaveTimer()"></zeppelin-notebook-paragraph>
    </div>
  </div>
</ng-container>
