@import '../../node_modules/ng-zorro-antd/src/style/color/colors';

.tips {
  &.warning {
    color: @volcano-6;
  }

  &.error {
    color: @red-6;
  }
}

.modal-footer {
  padding: 10px 24px;
  margin: -10px -24px -24px -24px;
}
