@import '../../node_modules/ng-zorro-antd/src/style/color/colors';

.tips {
  &.warning {
    color: @volcano-6;
  }

  &.error {
    color: @red-6;
  }
}

.modal-footer {
  padding: 10px 24px;
  margin: 24px -24px -24px -24px;
}

.transparent-button {
  background: transparent;
  border: none;
  box-shadow: none;

  &:hover {
    background: transparent;
  }
}

.padding-sm {
  padding: 12px;
}

.font-sm {
  font-size: 12px;
}

.opacity-05 {
  opacity: 0.5;
}
