<div class="status">{{status}}</div>
<div class="progress" *ngIf="status === 'RUNNING'">{{progress}}%</div>
<a class="operate">
  <i nz-icon
     *ngIf="status!=='RUNNING' && status!=='PENDING' && enabled"
     (click)="runParagraph.emit()"
     nzType="play-circle"
     class="run-para"
     nzTheme="outline"></i>
  <i nz-icon
     *ngIf="status=='RUNNING' || status=='PENDING'"
     (click)="cancelParagraph.emit()"
     class="cancel-para"
     nzType="pause-circle"
     nzTheme="outline"></i>
</a>
<a (click)="toggleEditor()">
  <i nz-icon [nzType]="editorHide ? 'fullscreen' : 'fullscreen-exit'" nzTheme="outline"></i>
</a>
<a (click)="toggleOutput()">
  <i nz-icon [nzType]="tableHide ? 'book' : 'read'" nzTheme="outline"></i>
</a>
<a>
  <i nz-icon nzType="setting" nzTheme="outline"></i>
</a>
