<div class="status">{{status}}</div>
<div class="progress" *ngIf="status === 'RUNNING'">{{progress}}%</div>
<ng-container *ngIf="!revisionView">
  <a class="operate">
    <i nz-icon
       *ngIf="status!=='RUNNING' && status!=='PENDING' && enabled"
       (click)="runParagraph.emit()"
       nzType="play-circle"
       class="run-para"
       nzTheme="outline"></i>
    <i nz-icon
       *ngIf="status=='RUNNING' || status=='PENDING'"
       (click)="cancelParagraph.emit()"
       class="cancel-para"
       nzType="pause-circle"
       nzTheme="outline"></i>
  </a>
  <a (click)="toggleEditor()">
    <i nz-icon [nzType]="editorHide ? 'fullscreen' : 'fullscreen-exit'" nzTheme="outline"></i>
  </a>
  <a (click)="toggleOutput()">
    <i nz-icon [nzType]="tableHide ? 'book' : 'read'" nzTheme="outline"></i>
  </a>
  <nz-dropdown [nzTrigger]="'click'" [nzClickHide]="false" [(nzVisible)]="dropdownVisible">
    <a nz-dropdown>
      <i nz-icon nzType="setting" nzTheme="outline"></i>
    </a>
    <ul nz-menu class="setting-menu">
      <li nz-menu-item class="paragraph-id">
        <a (click)="copyClipboard(pid)">{{ pid }}</a>
      </li>
      <li nz-menu-divider></li>
      <li nz-menu-item *ngIf="runOnSelectionChange == true || runOnSelectionChange == false" class="list-item">
        <span><i nz-icon nzType="filter" nzTheme="outline"></i> Run on selection change</span>
        <span><nz-switch nzSize="small"
                         [ngModel]="runOnSelectionChange"
                         (ngModelChange)="toggleRunOnSelectionChange()"></nz-switch></span>
      </li>
      <li nz-menu-item class="list-item">
        <span><i nz-icon nzType="gateway" nzTheme="outline"></i> Width</span>
        <span>
          <select [ngModel]="colWidth" (ngModelChange)="changeColWidth($event)">
            <option [value]="col" [label]="col" *ngFor="let col of colWidthOption"></option>
          </select>
        </span>
      </li>
      <li nz-menu-item class="list-item">
        <span><i nz-icon nzType="font-size" nzTheme="outline"></i> Font size</span>
        <span>
          <select [ngModel]="fontSize" (ngModelChange)="changeFontSize($event)">
            <option [value]="size" [label]="size" *ngFor="let size of fontSizeOption"></option>
          </select>
        </span>
      </li>
      <li nz-menu-item class="list-item" [nzDisabled]="isEntireNoteRunning" *ngIf="!first" (click)="trigger(moveUp)">
        <span><i nz-icon nzType="up" nzTheme="outline"></i> Move up</span>
        <span class="short-cut">
          Ctrl+{{ isMac ? 'Option' : 'Alt'}}+K
        </span>
      </li>
      <li nz-menu-item class="list-item" [nzDisabled]="isEntireNoteRunning" *ngIf="!last" (click)="trigger(moveDown)">
        <span><i nz-icon nzType="down" nzTheme="outline"></i> Move down</span>
        <span class="short-cut">
          Ctrl+{{ isMac ? 'Option' : 'Alt'}}+J
        </span>
      </li>
      <li nz-menu-item class="list-item" [nzDisabled]="isEntireNoteRunning" (click)="trigger(insertNew)">
        <span><i nz-icon nzType="plus" nzTheme="outline"></i> Insert new</span>
        <span class="short-cut">
          Ctrl+{{ isMac ? 'Option' : 'Alt'}}+B
        </span>
      </li>
      <li nz-menu-item class="list-item" [nzDisabled]="isEntireNoteRunning" *ngIf="!first" (click)="trigger(runAllAbove)">
        <span><i nz-icon nzType="up-square" nzTheme="outline"></i> Run all above</span>
        <span class="short-cut">
          Ctrl+Shift+Enter
        </span>
      </li>
      <li nz-menu-item class="list-item" [nzDisabled]="isEntireNoteRunning" *ngIf="!last" (click)="trigger(runAllBelowAndCurrent)">
        <span><i nz-icon nzType="down-square" nzTheme="outline"></i> Run all below</span>
        <span class="short-cut">
          Ctrl+Shift+Enter
        </span>
      </li>
      <li nz-menu-item class="list-item" [nzDisabled]="isEntireNoteRunning" (click)="trigger(cloneParagraph)">
        <span><i nz-icon nzType="copy" nzTheme="outline"></i> Clone paragraph</span>
        <span class="short-cut">
          Ctrl+Shift+C
        </span>
      </li>
      <li nz-menu-item class="list-item" (click)="toggleTitle()">
        <span><i nz-icon nzType="font-colors" nzTheme="outline"></i> {{title? 'Hide': 'Show'}} title</span>
        <span class="short-cut">
          Ctrl+{{ isMac ? 'Option' : 'Alt'}}+T
        </span>
      </li>
      <li nz-menu-item class="list-item" (click)="toggleLineNumbers()">
        <span><i nz-icon nzType="ordered-list" nzTheme="outline"></i> {{lineNumbers? 'Hide':'Show'}} line numbers</span>
        <span class="short-cut">
          Ctrl+{{ isMac ? 'Option' : 'Alt'}}+M
        </span>
      </li>
      <li nz-menu-item class="list-item" [nzDisabled]="isEntireNoteRunning">
        <span><i nz-icon nzType="api" nzTheme="outline"></i> {{enabled ? "Disable" : "Enable"}} run</span>
        <span class="short-cut">
          Ctrl+ {{ isMac ? 'Option' : 'Alt'}}+R
        </span>
      </li>
      <li nz-menu-item class="list-item">
        <span><i nz-icon nzType="export" nzTheme="outline"></i> Link this paragraph</span>
        <span class="short-cut">
          Ctrl+{{ isMac ? 'Option' : 'Alt'}}+W
        </span>
      </li>
      <li nz-menu-item class="list-item" [nzDisabled]="isEntireNoteRunning">
        <span><i nz-icon nzType="fire" nzTheme="outline"></i> Clear output</span>
        <span class="short-cut">
          Ctrl+{{ isMac ? 'Option' : 'Alt'}}+L
        </span>
      </li>
      <li nz-menu-item class="list-item" [nzDisabled]="isEntireNoteRunning" *ngIf="paragraphLength > 1">
        <span><i nz-icon nzType="delete" nzTheme="outline"></i> Remove</span>
        <span class="short-cut">
          Ctrl+{{ isMac ? 'Option' : 'Alt'}}+D
        </span>
      </li>
    </ul>
  </nz-dropdown>
</ng-container>
