@import "theme-mixin";

.themeMixin({
  .paragraph {
    background: @component-background;
    border: 1px solid @border-color-split;
    box-shadow: @card-shadow;
    padding: 12px;
  }
  zeppelin-elastic-input {
    width: 80%;
    display: block;
  }
});
