<div class="paragraph-container" *ngIf="paragraph" [attr.id]="paragraph.id + '_container'">
  <zeppelin-notebook-add-paragraph *ngIf="!revisionView"
                                   [disabled]="isNoteRunning"
                                   (addParagraph)="insertParagraph('above')"></zeppelin-notebook-add-paragraph>
  <div class="paragraph">
    <zeppelin-elastic-input *ngIf="paragraph.config.title"
                            [value]="paragraph.title"
                            [min]="true"
                            (valueUpdate)="commitParagraph($event)"></zeppelin-elastic-input>
    <zeppelin-notebook-code-editor *ngIf="!paragraph.config.editorHide && !viewOnly"
                                   [paragraph]="paragraph"
                                   [collaborativeMode]="collaborativeMode"
                                   [focus]="paragraph.focus"
                                   [lineNumbers]="paragraph.config.lineNumbers"
                                   [readOnly]="isNoteRunning || isParagraphRunning || revisionView"
                                   [language]="paragraph.config.editorSetting?.language"></zeppelin-notebook-code-editor>
    <zeppelin-notebook-result *ngFor="let result of results; index as i"
                              [config]="configs[i]"
                              [result]="result">
    </zeppelin-notebook-result>
  </div>
  <zeppelin-notebook-add-paragraph [disabled]="isNoteRunning"
                                   *ngIf="!viewOnly && !revisionView && last"
                                   (addParagraph)="insertParagraph('below')"></zeppelin-notebook-add-paragraph>
</div>
