<h2>Zeppelin Message</h2>
<hr />
<div class="wrap">
  <div class="actions">
    <div>
      <strong>状态: </strong>
      <span>{{ status ? '已连接' : '断开连接' }}</span>
    </div>
    <div>
      <strong>Ping: </strong>
      <input id="showPing" type="checkbox" [(ngModel)]="showPing" />
      <label for="showPing">
        {{ showPing ? '显示' : '隐藏' }}
      </label>
    </div>
    <div>
      <button (click)="logs = []">清理日志</button>
    </div>
    <hr />
    <div>
      <strong>获取 Notebook: </strong>
      <br />
      <input [(ngModel)]="noteId" />
      <br />
      <button (click)="getNotebook(noteId)">Send</button>
    </div>
    <div>
      <strong>运行 Paragraph: </strong>
      <br />
      <select [(ngModel)]="paragraph">
        <option *ngFor="let item of paragraphs" [value]="item.id">
          {{ item.title || 'Untitled' }}
        </option>
      </select>
      <br />
      <button (click)="runParagraph(paragraph)">Send</button>
    </div>
    <hr />
    <div>
      <strong>自定义: </strong>
      <br />
      <select style="width: 250px;" [(ngModel)]="op">
        <option *ngFor="let item of ops" [value]="item">
          {{ item }}
        </option>
      </select>
      <br />
      <br />
      <textarea style="width: 250px" [(ngModel)]="dataStr"></textarea>
      <br />
      <button (click)="send(op, dataStr)">Send</button>
    </div>
  </div>
  <div class="log">
    <strong>Log({{ logs.length }}):</strong>
    <div class="message-logs">
      <ng-container *ngFor="let log of logs; let i = index">
        <p
          class="log-item"
          (click)="logIndex = i"
          [hidden]="!showPing && log.event.op === 'PING'"
          [class.selected]="i === logIndex"
          [class.error]="log.event.op === 'ERROR_INFO'"
          [class.receive]="log.type === 'receive'"
          [class.send]="log.type === 'send'"
        >
          {{ log.type | uppercase }}: {{ log.event.op }}
        </p>
      </ng-container>
    </div>
  </div>
  <div class="preview">
    <strong>Preview:</strong>
    <pre class="pre">{{ logs[logIndex]?.event | json }}</pre>
  </div>
</div>
