@import "theme-mixin";

.themeMixin({
  display: block;
  .setting-bar {
    display: flex;
    margin: 10px 0;

    .export-dropdown {
      margin: 0 20px;
    }

    .setting-trigger {
      line-height: 32px;
      i {
        font-size: 12px;
      }
    }

  }

});
